<div class="d-flex justify-content-between mt-3">
  <div>
    <span class="display-4">Cursos</span>
  </div>
  <div>
    <a
      class="btn btn-primary"
      [routerLink]="['/nuevo']"
      data-target="#myModal"
      data-toggle="modal"
      >Nuevo Curso</a
    >
  </div>
</div>

<table class="table" *ngIf="games$ | async as cursos; else loading">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Curso</th>
      <th scope="col" class="float-right">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cursos">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.title }}</td>
      <td class="float-right">
        <a
          class="btn btn-warning"
          [routerLink]="['/cursos', item.id, 'editar']"
        >
          Actualizar</a
        ><button
          class="btn btn-danger ml-2"
          [routerLink]="['/cursos', item.id, 'borrar']"
        >
          Borrar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #loading>
  <div *ngIf="error$ | async; else loadingNoError"></div>

  <ng-template #loadingNoError>
    <div class="center">
      <img src="/assets/img/loading.gif" />
    </div>
  </ng-template>
</ng-template>
